/* Estilos para el menú de navegación */
nav {
    background-color: #fff; /* Agrega un color de fondo al navbar */
    padding: 10px; /* Añade un espacio interno al navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra al navbar */
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #333; /* Cambia el color del texto a un tono más oscuro */
}

nav ul li {
    display: inline; /* Hace que los elementos se muestren en línea (uno al lado del otro) */
    margin-right: 10px; /* Espacio entre elementos (ajusta según tu preferencia) */
    color: rgb(4, 27, 68); /* Cambia el color del texto a azul oscuro */
    


}



/* Estilos para centrar contenido */
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Ajusta la altura según tus necesidades */
    text-align: center;
    background-color: transparent; /* Establece el fondo del contenedor como transparente */
}



.large-text {
    font-size: 24px;
}

/* Estilos para el color de texto blanco */
.white-text {
    color: rgb(4, 27, 68); /* Establece el color de texto en blanco */
}
.large-text {
    font-size: 24px; /* Establece el tamaño de fuente a 24 píxeles (ajusta según tus preferencias) */
}

.header-top {
    background-image: url('./asset/Portada.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-position: center center;
    background-repeat: no-repeat;
    height: 50vh;
   
}

nav ul li:hover {
    background-color: #ddd;
}
.photo-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center; /* Centra las tarjetas horizontalmente */
}

.photo-list-item {
    width: 20%; /* Cambia el ancho de las tarjetas según tu preferencia */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    
}
.photo-list-item .title {
    font-size: 18px; /* Tamaño del título */
    margin-bottom: 10px; /* Espacio entre el título y la imagen */
}





.photo {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Bordes redondeados para las imágenes */
    
}



.title, nav, body, h1, h2, h3, h4, h5, h6, .subtitle {
    font-family: 'Roboto', sans-serif; /* Puedes reemplazar 'Roboto' con la fuente que elijas */
}

/* Estilos para la ventana emergente */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-image: url('./asset/Fondoregistro.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen horizontal y verticalmente */
    border-radius: 10px;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.close {
    color: #fa0404;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #d40000;
    text-decoration: none;
    cursor: pointer;
}
.modal-content label {
    color: white; /* Establece el color del texto del label a blanco */
}

.follow-us {
    text-align: center;
    margin-top: 50px;
}

.follow-us h2 {
    color: #333;
}

.follow-us p {
    color: #666;
}

.follow-us a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4b8cff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.follow-us a:hover {
    background-color: #3366cc;
}

