/* Estilos para el menú de navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline; /* Hace que los elementos se muestren en línea (uno al lado del otro) */
    margin-right: 10px; /* Espacio entre elementos (ajusta según tu preferencia) */
}

/* Estilos para centrar contenido */
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Ajusta la altura según tus necesidades */
    text-align: center;
    background-color: transparent; /* Establece el fondo del contenedor como transparente */
}

.white-text {
    color: rgba(7, 36, 85, 0);
}

.large-text {
    font-size: 24px;
}

/* Estilos para el color de texto blanco */
.white-text {
    color: rgb(4, 27, 68); /* Establece el color de texto en blanco */
}
.large-text {
    font-size: 30px; /* Establece el tamaño de fuente a 24 píxeles (ajusta según tus preferencias) */
}

.header-top {
    background-image: url('./asset/Portada.jpg');
    background-size: 100% 400%; /* La imagen de fondo ocupará el 100% del ancho y el 100% de la altura de la sección header-top */
    background-position: center center ; /* La imagen de fondo se centrará horizontalmente y se alineará en la parte superior */
    background-repeat: no-repeat; /* La imagen de fondo no se repetirá */
    height: 50vh; /* Ajusta la altura de header-top al 50% de la altura de la ventana */
}

